*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.row {
  text-align: center;
}
}
#uc1 {
  color: brown;
  text-align: center;

}
#uc2 {
  color: #3B5998;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.6em;
}
#uc3 {
  text-align: center;
}
#uc4 {
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #eef7ed;
 }

.topnav .logo {
	margin-left: 20px;
	padding: -5px 10px;
	width: auto;
	height: 55px;
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #cdd7cb;
  color: black;
}

.topnav a.active {
  background-color: #574033;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav .logo {
	width: 600px;
	height: 70px;
  }

}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav .logo {
	width: 600px;
	height: 70px;
  }
}
